<launch>

  <remap
    from="/left_arm/joint_states"
    to="/joint_states" />
  <remap
    from="/right_arm/joint_states"
    to="/joint_states" />

  <include
    file="$(find blue_gazebo)/launch/gazebo.launch" />

  <include
    file="$(find blue_gazebo)/launch/_single_arm_gazebo.launch">
    <arg name="side" value="left"/>
  </include>

  <include
    file="$(find blue_gazebo)/launch/_single_arm_gazebo.launch">
    <arg name="side" value="right"/>
  </include>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find blue_bringup)/config/blue.rviz" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false"
    output="screen">
  </node>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <!-- <node name="pos_plot" -->
    <!-- pkg="rqt_plot" -->
    <!-- type="rqt_plot" -->
    <!-- args="/blue_gazebo/simple_controller/command/data[2]" /> -->

</launch>
