<launch>
  <arg
    name="version"
    default="2" />

  <include
    file="$(find blue_gazebo)/launch/blue_world.launch"
    pass_all_args="true"/>

  <include
    file="$(find blue_gazebo)/launch/_pickup_world_objects.launch" />

  <node
    name="$(anon blue_controller_spawner)"
    pkg="blue_controller_manager"
    type="spawner.py"
    output="screen"
    ns="right_arm">
    <rosparam param="start_controllers">
      - blue_controllers/joint_trajectory_controller
      - blue_controllers/gripper_controller
    </rosparam>
  </node>
  <node
    name="$(anon blue_controller_spawner)"
    pkg="blue_controller_manager"
    type="spawner.py"
    output="screen"
    ns="left_arm">
    <rosparam param="start_controllers">
      - blue_controllers/joint_trajectory_controller
      - blue_controllers/gripper_controller
    </rosparam>
  </node>

</launch>
