<launch>
  <arg name="version" default="2" doc="What version of the Blue arm hardware are we using? (1 or 2)" />
  <arg name="rosbridge_port" default="9090" doc="Port for rosbridge and the Python API" />

  <include
    file="$(find blue_gazebo)/launch/full.launch"
    pass_all_args="true"/>

  <include
    file="$(find blue_gazebo)/launch/include/pickup_world_objects.launch" />

  <node
    name="$(anon blue_controller_spawner)"
    pkg="blue_controller_manager"
    type="spawner.py"
    output="screen"
    ns="right_arm">
    <rosparam param="start_controllers">
      - blue_controllers/joint_trajectory_controller
      - blue_controllers/gripper_controller
    </rosparam>
  </node>
  <node
    name="$(anon blue_controller_spawner)"
    pkg="blue_controller_manager"
    type="spawner.py"
    output="screen"
    ns="left_arm">
    <rosparam param="start_controllers">
      - blue_controllers/joint_trajectory_controller
      - blue_controllers/gripper_controller
    </rosparam>
  </node>

</launch>
