<launch>

  <arg
    name="version"
    default="2" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- Spawn Blue Arm -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(find blue_descriptions)/robots/blue_full_v$(arg version).urdf.xacro is_gazebo:=true" />
  <node
    name="spawn_blue"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model blue_full"
    output="screen"/>

  <!-- Spawn a table -->
  <param
    name="table_description"
    command="$(find xacro)/xacro.py $(find blue_gazebo)/objects/table.urdf.xacro" />
  <node
    name="spawn_table"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param table_description -z 0.01 -x -0.4 -model table_model"
    respawn="false"
    output="screen" />

  <!-- Spawn a box -->
  <!-- <param name="box_description" command="$(find xacro)/xacro.py $(find blue_gazebo)/objects/simple_box.urdf" />
  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" args="-urdf -param box_description -x 0.8 -y 0.4 -z 1.5 -model box_model" respawn="false" output="screen" /> -->

  <!-- Spawn a cylinder -->
  <param name="box_description" command="$(find xacro)/xacro.py $(find blue_gazebo)/objects/simple_cylinder.urdf" />
  <node name="spawn_cylinder" pkg="gazebo_ros" type="spawn_model" args="-urdf -param box_description -x 0.8 -y 0.4 -z 1.5 -model cylinder_model" respawn="false" output="screen" />
</launch>
